<h1>Create Survey Page</h1>

<form action="/create_survey" method="POST">
  <label>Name of Survey: <input type="text" required name="name"></label><br>
  <label>How Many questions? <input type="text" required name="number"></label><br>
  <input type="submit" value="Create Survey">
  <a href="/profile/<%= @user.id %>"><input type="button" value="Cancel"></a>
</form>
