<h1> Welcome to Vampire Gorrilla Survey </h1>

<form id="log_in" action="/log_in" method="POST">
<label for="email"> Email </label> 
<input id="email" required type="text" name="email"> <br>
<label for="password"> Password </label>
<input id="password" required type="password" name="password"> <br>
<input type="submit" value="Login">
</form>

<a href='/sign_up'> Sign up </a>

<ul class="errors"></ul>