<h1>Welcome, <%= @user.username %>!</h1>

<a href="/create_survey">Create A New Survey</a>

<h2>Your Surveys</h2>
<ul>
<% @user.surveys.each do |survey| %>
  <a href="/result/<%= survey.id %>"><li><%= survey.name %></li></a>
<% end %>
</ul>

